*.xcworkspace
*.DS_Store
__MACOSX/
*.xcscheme
xcuserdata
AmiKoDesitin/amiko_db_full_idx_de.db
AmiKoDesitin/amiko_db_full_idx_fr.db
AmiKoDesitin/amiko_db_full_idx_de.zip
AmiKoDesitin/drug_interactions_csv_de.zip
AmiKoDesitin/amiko_db_full_idx_fr.zip
DerivedData/
build/
build_comed.sh
Podfile.lock
Pods/
tessdata/
