*.xcworkspace
*.DS_Store
__MACOSX/
*.xcscheme
xcuserdata
AmiKoDesitin/amiko_report_de.html
AmiKoDesitin/amiko_report_fr.html
AmiKoDesitin/amiko_frequency_de.db
AmiKoDesitin/amiko_frequency_fr.db
AmiKoDesitin/amiko_db_full_idx_de.*
AmiKoDesitin/amiko_db_full_idx_fr.*
AmiKoDesitin/drug_interactions_csv_de.zip
AmiKoDesitin/amiko_frequency_de.db.zip
AmiKoDesitin/amiko_frequency_fr.db.zip
DerivedData/
build/
build_comed.sh
Podfile.lock
Pods/
tessdata/
