*.xcworkspace
*.DS_Store
__MACOSX/
*.xcscheme
xcuserdata
AmiKoDesitin/amiko_db_full_idx_de.db
AmiKoDesitin/amiko_db_full_idx_fr.db
AmiKoDesitin/amiko_db_full_idx_de.zip
DerivedData/
build/
AmiKoDesitin/drug_interactions_csv_de.zip
build_comed.sh
